.button-error {
    -fx-outer-border: #e2574c;
}

.button-error:focused {
    -fx-focus-color: #e2574c;
    -fx-faint-focus-color: #e2574c22;
}

.text-field-error {
    -fx-text-box-border: #e2574c;
}

.text-field-error:focused {
    -fx-focus-color: #e2574c;
    -fx-faint-focus-color: #e2574c22;
}

.label-success {
    -fx-text-fill: green;
}

.label-warn {
    -fx-text-fill: #ff8c00;
}

.label-error {
    -fx-text-fill: #e2574c;
}

.underline {
    -fx-underline: true;
}

.hyperlink,
.hyperlink:focused  {
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.hyperlink:hover,
.hyperlink:hover:visited {
    -fx-underline: true;
}

.hyperlink:visited,
.hyperlink:visited:armed {
    -fx-underline: false;
}

.hyperlink,
.hyperlink:hover,
.hyperlink:armed,
.hyperlink:hover:armed,
.hyperlink:visited,
.hyperlink:hover:visited {
    -fx-text-fill: -fx-accent;
}

.tooltip {
    -fx-background-color: -fx-body-color;
    -fx-text-fill: -fx-text-base-color;
}

/* button that consists only of one image or image and text, it should look very simple, without any borders */
.image-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}