.button-error {
    -fx-text-fill: #e2574c;
    -fx-border-width: 2px;
}

.text-field-error {
    -fx-text-fill: #e2574c;
    -fx-border-width: 2px;
}

.label-success {
    -fx-text-fill: green;
}

.label-warn {
    -fx-text-fill: #ff8c00;
}

.label-error {
    -fx-text-fill: #e2574c;
}

.hyperlink,
.hyperlink:focused  {
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.hyperlink:hover,
.hyperlink:hover:visited {
    -fx-underline: true;
}

.hyperlink:visited,
.hyperlink:visited:armed {
    -fx-underline: false;
}

.hyperlink,
.hyperlink:hover,
.hyperlink:armed,
.hyperlink:hover:armed,
.hyperlink:visited,
.hyperlink:hover:visited {
    -fx-text-fill: -fx-accent;
}

.tooltip {
    -fx-background-color: -fx-body-color;
    -fx-text-fill: -fx-text-base-color;
}

/* button that consists only of one image */
.image-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}