.choose-title {
    -fx-font-size: 1.166667em;
}

.files-pane {
    -fx-background-color: -fx-box-border, -fx-background;
    -fx-background-insets: 0, 1;
}

.files-pane:hover,
.directory-pane:hover {
    -fx-background-color: -fx-box-border, -fx-body-color;
}

.directory-pane {
    -fx-background-color: -fx-box-border, -fx-background;
    -fx-background-insets: 0, 1 1 1 0;
}

.back-link {
    -fx-font-size: 0.916667em;
}

.table-view .last-column-header {
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1;
}