.choose-title {
    -fx-font-size: 1.166667em;
}

.files-pane {
    -fx-background-color: -fx-box-border, -fx-background;
    -fx-background-insets: 0, 1;
}

.directory-pane {
    -fx-background-color: -fx-box-border, -fx-background;
    -fx-background-insets: 0, 1 1 1 0;
}

.files-pane:hover,
.directory-pane:hover {
    -fx-background-color: -fx-box-border, -fx-body-color;
}

.back-link {
    -fx-font-size: 0.916667em;
}

.table-view:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
}

.table-view > .virtual-flow > .scroll-bar:vertical {
    -fx-background-insets: 0, 0;
}

.pane-unavailable {
    -fx-opacity: 0.4;
}

/*
 It was really hard to figure out the correct rules to achieve what I wanted (red background color for error cells).
 Because original table cells have a border and three parts of that border are invisible (and thus are equal to the
 color of the rows). At the same time you can't just convert the border rules to the background rules because
 transparent color work differently for borders than for backgrounds, transparent background just means that other
 parts of the background are expanded not that you will see color of the element below unlike with the border.
*/
.table-cell {
    -fx-table-cell-right-border-color: -fx-table-cell-border-color;
    -fx-table-cell-background: -fx-control-inner-background;

    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-background-color: -fx-table-cell-right-border-color, -fx-table-cell-border-color, -fx-table-cell-background;
    -fx-background-insets: 0, 1 1 0 1, 0 1 1 0;
}

.table-cell:odd {
    -fx-table-cell-background: -fx-control-inner-background-alt;
}

.table-cell:last-visible {
    -fx-table-cell-right-border-color: -fx-box-border;
}

.table-cell .pane-error {
    -fx-pane-right-border-color: -fx-table-cell-border-color;
    -fx-pane-background: #f9dddb;

    -fx-background-color: -fx-table-cell-right-border-color, -fx-table-cell-border-color, -fx-table-cell-background;
    -fx-background-insets: 0, 1 1 0 1, 0 1 1 0;
}

.table-cell .pane-error:odd {
    -fx-pane-background: derive(#f9dddb, -2%);
}

.table-cell .pane-error:last-visible {
    -fx-pane-right-border-color: -fx-box-border;
}

.table-view .table-row-cell .label,
.table-view .table-row-cell .button,
.table-view .table-row-cell .radio-button,
.table-view .table-row-cell .hyperlink {
    -fx-font-size: 0.75em;
}

.table-view .table-row-cell .path-label {
    -fx-font-size: 1.0em;
}

.add-subtitle {
    -fx-padding: 3;
    -fx-background-color: transparent;
}