.labels-wrapper {
  -fx-background-color: -fx-control-inner-background;
}

.label {
  -fx-padding: 4 0 4 5;
}

.label:hover,
.label-keyboard-focus {
  -fx-text-fill: white;
  -fx-background-color: -fx-accent;
}

.utility-label,
.utility-label:hover {
  -fx-text-fill: -fx-text-background-color;
  -fx-background-color: -fx-control-inner-background;
}
