.back-link {
  -fx-font-size: 0.916667em;
}

.table-view:focused {
  -fx-background-color: -fx-box-border, -fx-control-inner-background;
  -fx-background-insets: 0, 1;
  -fx-background-radius: 0;
}

/*
 I had to change the way the cell border is drawn - instead of using the -fx-border-color with three transparent sides I
 decided to use the background insets. Because if we leave transparent borders there will be white stripes when the cell
 has an error pane with the reddish background as its content.
*/
.table-cell {
  -fx-background-color: -fx-table-cell-border-color, -fx-background;
  -fx-background-insets: 0, 0 1 1 0;
  -fx-border-width: 0;
  -fx-padding: 0;
}

.table-cell:last-visible {
  -fx-background-insets: 0, 0 0 1 0;
}

.table-cell > .pane-unavailable {
  -fx-opacity: 0.4;
}

.table-cell > .pane-warning,
.table-cell > .pane-error {
  -fx-background-color: -fx-table-cell-border-color, -fx-background;
  -fx-background-insets: 0, 0 1 1 0;
}

.table-cell > .pane-warning {
    -fx-background: #fee8cc;
}

.table-cell > .pane-error {
    -fx-background: #f9dddb;
}

.table-cell:last-visible > .pane-warning,
.table-cell:last-visible > .pane-error {
  -fx-background-insets: 0, 0 0 1 0;
}

.table-cell:odd > .pane-warning {
  -fx-background: derive(#fee8cc, -2%);
}

.table-cell:odd > .pane-error {
  -fx-background: derive(#f9dddb, -2%);
}

.table-cell .button,
.table-cell .hyperlink,
.table-cell .label,
.table-cell Text,
.table-cell .radio-button {
  -fx-font-size: 0.75em;
}

.table-cell .path-label {
  -fx-font-size: 1.0em;
}

.table-cell .merged-title {
  -fx-text-fill: green;
}
