.unavailable-description {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-background-color: -fx-background;
}

.characteristic-title {
    -fx-font-size: 0.916667em;
}

.characteristic-value {
    -fx-font-size: 0.916667em;
}

.characteristic-value.green {
    -fx-text-fill: green;
}

.characteristic-value.orange {
    -fx-text-fill: #ff8c00;
}

.characteristic-value.red {
    -fx-text-fill: #e2574c;
}